.feynman__link{
    text-decoration: none;
    color: #2f80ed;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }

.feynman__link:hover{
  opacity: 0.33;
  transition: all 0.2s ease-out;
}