.cards__item{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    max-width: 240px;
    margin: 0;
    z-index: 1;
}

.cards__item:nth-child(2){
    margin: 0 100px 0 100px;
}

.cards__item:nth-child(5){
    margin: 0 0 0 100px;
}