.cards__item{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    max-width: 240px;
    margin-right: 100px;
    z-index: 1;
}

.cards__item:nth-child(3n){
    margin-right: 0;
}