.kaufman__triangle {
    display: block;
    position: absolute;
    align-self: flex-end;
    justify-self: flex-start;
    top: 0px;
    right: -210px;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    height: 873px;
    width: 873px;
  }